<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JYW.ThesisMMO.MMOServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JYW.ThesisMMO.MMOServer.Properties.Settings>
            <setting name="FilterKnownSnapshots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseIndividualUpdateRates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkillCooldownIMReactivationOffsetInMs" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MinimumConsistencyCooldownInMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxNumberOfSkills" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EvaluationMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InterestManagementMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EntityScenario" serializeAs="String">
                <value>0</value>
            </setting>
        </JYW.ThesisMMO.MMOServer.Properties.Settings>
    </userSettings>
</configuration>