<?xml version="1.0" encoding="Windows-1252"?>

<Configuration>

  <MMOServer DisplayName="MMO Server">
    
    <UDPListeners>
      <UDPListener
				IPAddress="0.0.0.0"
				Port="5055"
				OverrideApplication="MMOServer">
      </UDPListener>
    </UDPListeners>
    
    <TCPListeners>
      <TCPListener
          IPAddress="0.0.0.0"
          Port="4530"
          OverrideApplication="MMOServer"
              >
      </TCPListener>
    </TCPListeners>
    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
        Assembly="PhotonHostRuntime, Culture=neutral"
        Type="PhotonHostRuntime.PhotonDomainManager"
        UnhandledExceptionPolicy="Ignore">
    </Runtime>
    <!-- other elements -->
    <Applications Default="MMOServer">
      <Application
          Name="MMOServer"
          BaseDirectory="MMOServer"
          Assembly="MMOServer"
          Type="JYW.ThesisMMO.MMOServer.ServerApplication">
      </Application>
      <!-- any other applications -->
    </Applications>
    <!-- other elements -->
  </MMOServer>
  
</Configuration>
