<?xml version="1.0" encoding="Windows-1252"?>

<Configuration>
  
  <ChatServer DisplayName="Chat Server">
      <TCPListeners>
          <TCPListener
              IPAddress="0.0.0.0"
              Port="4530"
              OverrideApplication="ChatServer"
              >
          </TCPListener>
      </TCPListeners>
      <!-- Defines the Photon Runtime Assembly to use. -->
      <Runtime
          Assembly="PhotonHostRuntime, Culture=neutral"
          Type="PhotonHostRuntime.PhotonDomainManager"
          UnhandledExceptionPolicy="Ignore">
      </Runtime>
      <!-- other elements -->
      <Applications Default="ChatServer">
          <Application
              Name="ChatServer"
              BaseDirectory="ChatServer"
              Assembly="ChatServer"
              Type="ChatServer">
          </Application>
      </Applications>
  </ChatServer>
	
</Configuration>
